# Backend
backend/vendor/
backend/node_modules/
backend/.env
backend/storage/app/public/logos/
backend/storage/framework/cache/
backend/storage/framework/sessions/
backend/storage/framework/views/
backend/storage/logs/
backend/bootstrap/cache/

# Frontend
frontend/node_modules/
frontend/dist/
frontend/.quasar/

# System
.DS_Store
Thumbs.db
*.log

# Env files
.env
.env.*

# Editor
.vscode/
.idea/